
@{
    ViewData["Title"] = "Fund List";
}
<style>
    .fon-search {
        text-align: center;
    }

    #searchInput {
        margin: 5% 0.1%;
        width: 57%; /* SearchBar Boyutunu Ayarlama */
    }
</style>
<div class="text-center">
    <h1 class="display-4">Merhaba Tüm Fon Listelerine Aşağıdan Ulaşabilirsiniz.</h1>
    <p>Listeden dilediğiniz fonu seçin.</p>
</div>

